@import "../../variables";
@import "../../mixins";

// Item
.item {
  background: white;
  border-radius: 8px;
  border-bottom: 1px solid $gray-normal-color;
  padding: $space-5 $space-2;
  box-shadow: $shadow-1;
  @include media("lg") {
    padding: $space-2;
  }
}

// Main
.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  @include media("lg") {
    flex-direction: row;
    align-items: center;
  }
}

.label {
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $black-light-color;
  white-space: nowrap;
  margin-right: $space-2;
  display: inline-block;
  @include media("lg") {
    display: none;
  }
}

.symbolLayout {
  flex-grow: 0;
  padding: 0 $space-2;
  display: flex;
  align-items: center;
  @include media("lg") {
    display: block;
  }
}

.symbol {
  display: block;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  color: white;
  background-color: $black-normal-color;
  border-radius: 4px;
  width: 60px;
  text-align: center;
}

.parameter {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  color: $black-normal-color;
}

.nameLayout {
  flex-basis: 25%;
  padding: 0 $space-2;
  margin-top: $space-2;
  display: flex;
  align-items: center;
  @include media("lg") {
    margin: 0;
    display: block;
  }
}

.name {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $black-normal-color;
  margin: 0;
}

.priceLayout {
  flex-basis: 10%;
  text-align: right;
  padding: 0 $space-2;
  margin-top: $space-2;
  display: flex;
  align-items: center;
  @include media("lg") {
    margin: 0;
    display: block;
  }
}

.quantityLayout {
  flex-basis: 10%;
  text-align: right;
  padding: 0 $space-2;
  margin-top: $space-2;
  display: flex;
  align-items: center;
  @include media("lg") {
    margin: 0;
    display: block;
  }
}

.changeLayout {
  flex-basis: 10%;
  text-align: right;
  padding: 0 $space-2;
  margin-top: $space-2;
  display: flex;
  align-items: center;
  @include media("lg") {
    margin: 0;
    display: block;
  }
}

.valueLayout {
  flex-basis: 10%;
  text-align: right;
  padding: 0 $space-2;
  margin-top: $space-2;
  display: flex;
  align-items: center;
  @include media("lg") {
    margin: 0;
    display: block;
  }
}

.buttonsLayout {
  flex-grow: 1;
  flex-basis: 25%;
  display: flex;
  justify-content: flex-end;
  padding: 0 $space-2;
  margin-top: $space-2;
  @include media("lg") {
    margin: 0;
  }
}

.button {
  background: $gray-light-color;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  border: 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 300ms;
  & + & {
    margin-left: $space-2;
  }
  & > svg {
    fill: $black-normal-color;
    width: 16px;
    height: 16px;
    transition: transform 300ms;
  }

  &:hover {
    background: $gray-normal-color;
  }

  &:active {
    background: $gray-dark-color;
  }

  &.isExpanded {
    & > svg {
      transform: rotate(180deg);
    }
  }
}

// Purchases
.purchases {
  padding: $space-2 0;
  margin: $space-2 $space-2 0;
  @include media("lg") {
    border-top: $gray-normal-color solid 1px;
  }
}

.purchaseTableHeader {
  display: none;
  align-items: center;
  padding: $space-2 0;
  @include media("lg") {
    display: flex;
  }
}

.purchaseTableHeaderTitle {
  font-size: 12px;
  line-height: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $black-light-color;
  white-space: nowrap;
}

.purchaseTableHeaderDateLayout {
  flex-basis: 25%;
  padding: 0 $space-2;
}

.purchaseTableHeaderPriceLayout {
  flex-basis: 10%;
  text-align: right;
  padding: 0 $space-2;
}

.purchaseTableHeaderQuantityLayout {
  flex-basis: 10%;
  text-align: right;
  padding: 0 $space-2;
}

.purchaseTableHeaderChangeLayout {
  flex-basis: 25%;
  text-align: right;
  padding: 0 $space-2;
}

.purchaseTableHeaderValueLayout {
  flex-basis: 10%;
  text-align: right;
  padding: 0 $space-2;
}

.purchaseTableHeaderButtonLayout {
  flex-grow: 1;
  flex-basis: 20%;
  display: flex;
  justify-content: flex-end;
  padding: 0 $space-2;
}

.purchaseTableHeaderButton{
  display: none;
  visibility: hidden;
}

.purchase {
  display: flex;
  flex-direction: column;
  padding: $space-2 0;
  border-top: $gray-normal-color  solid 1px;
  @include media("lg") {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.emptyPurchases {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: $black-normal-color;
  margin: 0;
}

.purchaseParameter {
  font-size: 14px;
  line-height: 16px;
  color: $black-normal-color;
}

.purchaseDateLayout {
  @include media("lg") {
    flex-basis: 25%;
    padding: 0 $space-2;
  }
}

.purchasePriceLayout {
  margin-top: $space-1;
  @include media("lg") {
    flex-basis: 10%;
    text-align: right;
    padding: 0 $space-2;
    margin: 0;
  }
}

.purchaseQuantityLayout {
  margin-top: $space-1;
  @include media("lg") {
    flex-basis: 10%;
    text-align: right;
    padding: 0 $space-2;
    margin: 0;
  }
}

.purchaseChangeLayout {
  margin-top: $space-1;
  @include media("lg") {
    flex-basis: 25%;
    text-align: right;
    padding: 0 $space-2;
    margin: 0;
  }
}

.purchaseValueLayout {
  margin-top: $space-1;
  @include media("lg") {
    flex-basis: 10%;
    text-align: right;
    padding: 0 $space-2;
    margin: 0;
  }
}

.purchaseButtonLayout {
  margin-top: $space-2;
  @include media("lg") {
    flex-grow: 1;
    flex-basis: 20%;
    display: flex;
    justify-content: flex-end;
    padding: 0 $space-2;
    margin: 0;
  }
}

.purchaseButton {
  display: none;
  visibility: hidden;
}

.negativeChange {
  color: $red-normal-color;
}

.positiveChange {
  color: $green-normal-color;
}