@import '../../variables';
@import "../../mixins";

.app {

}

.container {
  width: 100%;
  max-width: 1200px + $space-6 * 2;
  margin: 0 auto;
  padding: 0 $space-4 $space-5 $space-4;

  @include media("lg") {
    padding: 0 $space-5 $space-6 $space-5;
  }

  @include media("xl") {
    padding: 0 $space-6 $space-6 $space-6;
  }
}